/* header  start */
header {
display: flex;
height:80px;
}
.header-links {
align-items: center;
justify-content: right;
display: flex;
flex: 1;
}
.header-links li {
  margin-left: 25px;
}
header * i{
  color:#fff;
  font-size: 1.5rem;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 100%;
  background-color: #192d52;
  padding: 15px;
}

header * i:hover{
  color:#192d52;
  background-color: #fff;
}

.sidebar-header {
  position: fixed;
  display: none;
  flex-direction: column;
  top: 0;
  right: 0px;
  background-color: #192d52ee;
  height: 100svh;
  width: 450px;
  z-index: 100;
}

.sidebar-header * {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.sidebar-header * a{
  color: #fff !important;
}

@media (max-width: 450px) {
  .sidebar-header {
      width: 100%;
  }
}

@media (max-width: 750px) {
  .header-links * a {
    display:none;
  }
}

@media (min-width: 750px) {
  .header-links * i {
    display:none;
  }
}

/* header end */
/* footer starts */
footer {
  display: flex;
  flex-wrap: wrap;
}
.footer-left {
  align-self: center;
  flex: 1;
}
.footer-left * a {
  display: block;
}
.footer-center {
  flex: 1;
  text-align: center;
}
.footer-right {
  width: 100%;
  flex: 1;
  text-align: right;
  justify-content: center;
  align-self: center;
}

@media (max-width: 600px) {
  .footer-left,
  .footer-center,
  .footer-right {
    flex: 100%;
    text-align: center;
    margin: 10px;
  }
  
}

/* footer ends */
/* section2 for landingpage start */
.circle{
width: 100px;
height: 100px;
line-height: 100px;
border-radius: 100px;
font-size: 50px;
color: #fff;
text-align: center;
background: #192D52;
margin: auto;
}
.circle1 {
grid-row: 1 / span 1;
grid-column: 2 / span 1;
}
.circle2 {
grid-row: 3 / span 1;
grid-column: 2 / span 1;
}
.circle3 {
grid-row: 5 / span 1;
grid-column: 2 / span 1;
}
.line {
height: 300px;
width: 10px;
margin: 25px auto 25px auto;
background: #192D52;
border-radius: 100px;
}
.line1 {
grid-row: 2 / span 1;
grid-column: 2 / span 1;
}
.line2 {
grid-row: 4 / span 1;
grid-column: 2 / span 1;
}
.line3 {
grid-row: 6 / span 1;
grid-column: 2 / span 1;
border-radius: 100px 100px 0px   0px;
margin: 25px auto 0px auto;
height: 150px;
}
.line4 {
grid-row: 1 / span 1;
grid-column: 2 / span 1;
height: 150px;
width: 10px;
margin: 0px auto 25px auto;
background: white;
border-radius: 0px 0px 100px   100px;
}
.text1 {
grid-row: 1 / span 1;
grid-column: 3 / span 1;
opacity: 0;
transform:translatex(400px);
animation: fadeIn linear forwards;
animation-timeline: view();
animation-range: 50px 40vh;
}
.text2 {
grid-row: 3 / span 1;
grid-column: 1 / span 1;
opacity: 0;
transform:translatex(-400px);
animation: fadeIn linear forwards;
animation-timeline: view();
animation-range: 50px 250px;
text-align: right;
}
.text3 {
grid-row: 5 / span 1;
grid-column: 3 / span 1;
opacity: 0;
transform:translatex(400px);
animation: fadeIn linear forwards;
animation-timeline: view();
animation-range: 50px 40vh;
}
/* section2 for landingpage end */
/* animations start */
.fade-in-white-header {
  opacity: 0;
  transform:translateY(-250px);
  animation: fadeIn ease-in-out forwards;
  animation-timeline: view();
  animation-range: 100px 200px;
}

/* .fade-in-right {
  opacity: 0;
  transform:translatex(400px);
  animation: fadeIn linear forwards;
  animation-timeline: view();
  animation-range: 50px 40vh;
}

.fade-in-left {
  opacity: 0;
  transform:translatex(-400px);
  animation: fadeIn linear forwards;
  animation-timeline: view();
  animation-range: 50px 250px;
} */

.animated-logo{
  animation: enlarge linear forwards;
  animation-timeline: view();
  animation-range: 150px 350px;
}

.animated-logo {
  grid-column: 2/2;
  grid-row: 2/2;
  justify-self: center; 
  width: 100px;
}

.animated-logo-text {
  grid-column: 2/2;
  grid-row: 2/2;
  justify-self: center; 
  width: 410px;
}

.animated-logo img {
  width:100%;
}

.move-left{
  animation: moveLeft linear forwards;
  animation-timeline: view();
  animation-range: 350px 500px;
}

.move-right{
  animation: moveRight linear forwards;
  animation-timeline: view();
  animation-range: 350px 500px;
  opacity: 0;
  z-index: -1;
}

.fade-in {
  opacity: 0;
  transform:translateY(-20px);
  animation: fadeIn linear forwards;
  animation-timeline: view();
  animation-range: 50px 150px;
}


@keyframes moveRight {
  to {
    transform:translatex(250px);
    opacity: 1;
  }
}

@keyframes moveRightSmall {
  to {
    transform:translatex(160px);
    opacity: 1;
  }
}

@keyframes moveLeft {
  to {
    transform:translatex(-250px);
  }
}

@keyframes enlarge {
  to {
    width: 415px;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform:translateY(0px);
  }
}
/* animations end */

/* slider start */
input[type="range"]{
width:85%;
-webkit-appearance:none;
height:5px;
position:relative;
background:#192D52;
border-radius:5px;
border:2px solid white;
}
input[type="range"]::-webkit-slider-thumb {
-webkit-appearance:none;
background:white;
height:25px;
width:25px;
border-radius:50%;
cursor:pointer;
border:2px solid white;
}
.container{
width:85%;
position:relative;
display:flex;
align-items:center;
justify-content:space-around;
padding:0 15px;
background-color:#192D52;
border-radius:30px;
margin-bottom: 40px;
margin-top: 20px;
}
#number {
background-color:#192D52;
height:40px;
width:40px;
display:flex;
align-items:center;
justify-content:center;
border-radius:3px;
user-select: none;
color:white;
}
.container1{
width:85%;
position:relative;
display:flex;
align-items:center;
justify-content:space-around;
padding:0 15px;
background-color:#192D52;
border-radius:30px;
margin-bottom: 40px;
margin-top: 20px;
}
#number1 {
background-color:#192D52;
height:40px;
width:40px;
display:flex;
align-items:center;
justify-content:center;
border-radius:3px;
user-select: none;
color:white;
}
.sliders {
grid-column: 1 / span 2;
}
/* slider end */
/* body margin start  */
header {
  padding: 20px 20px 0px 20px
}
section {
  padding: 0px 15% 0px 15%;
}
footer {
  padding: 0px 20px 20px 20px
}
/* body margin start  */
/* text start */
h1,h2,h3,h4,h5,h6,p,a {
  color:white;
  font-weight: normal;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.5rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.5rem;
}
p {
  font-size: 1.3rem;
}
a {
  font-size: 1.3rem;
}
.white-background * h1,
.white-background * h2,
.white-background * h3,
.white-background * h4,
.white-background * h5,
.white-background * h6,
.white-background * p,
.white-background * a {
  color:#192D52;
}
/* text ends */
form {
  width: 100%;
}

label {
  display: block;
  margin-bottom: 8px;
}

form input,
textarea,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.textareaone {
  resize: none;
}

input[type="submit"] {
  font-family: 'roboto', sans-serif;
  width:100%;
  border: 2px solid #fff;
  border-radius: 35px;
  background-color: #192D52;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #fff;
  color: #192D52;
}

.form-group {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
}

.white-background * form {
  width: 100%;
}

.white-background * label {
  display: block;
  margin-bottom: 8px;
}

.white-background * form input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.white-background * input[type="submit"] {
  font-family: 'roboto', sans-serif;
  width:100%;
  border: 2px solid #192D52;
  border-radius: 35px;
  background-color: white;
  color: #353980;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.white-background * input[type="submit"]:hover {
  background-color: #192D52;
  color: #fff;
}

.white-background * .form-group {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
}

/* form ends */
/* gallery starts */
.filters {
  text-align: center;
  margin-bottom: 20px;
}

.filter-btn {
  font-family: 'roboto', sans-serif;
  padding: 15px 30px;
  margin: 10px;
  font-size: 18px;
  border: 2px solid #192D52;
  border-radius: 35px;
  background-color: white;
  color: #192D52;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-btn:hover {
  background-color: #192D52;
  color: #fff;
}

.filter-btn.active {
    background-color: #192D52;
    color: #fff;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery figure {
  flex: 0 0 200px;
  position: relative;
  margin:0;
  transition: transform 0.3s ease-in-out;
}

.gallery img {
  width:100%;
}

.gallery figure:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.85); /* Adjust the overlay color and opacity */
}

.gallery figure:hover {
  z-index: 3;
  transform: scale(1.2);
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.gallery figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #192D52;
  font-size: 18px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  overflow-x: visible;
  white-space: nowrap;
}

.gallery figure:hover figcaption {
  opacity: 1; 
}

.gallery * h4 {
  font-size:1.5rem;
}

.gallery * p {
  font-size:1.1rem;
}
/* gallery ends */

* {
  margin: 0;
  padding: 0; 
  text-decoration: none;
  list-style-type: none;
}
body {
  background-color: #192D52;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.white-background {
  background-color: white;
}

.small-logo {
  width: 70px;
}

.large-logo {
  text-align: center;
}

.large-logo img {
  width: 300px;
}


.grid {
  display: grid;
  grid-template-rows: repeat(auto);
  grid-template-columns: repeat(3, minmax(100px, 1fr));
}

.flexgrid {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}

.flexgrid div {
  flex: 1;
}

.flexgrid-center{
  display: flex;
  justify-content: center;
}

.center-text {
  text-align:center;
}

.right-text {
  text-align: right;
}

.center {
  align-self: center; 
  justify-self: center; 
}

.section-padding-top {
  padding-top: 80px;
}

.section-padding-bottom {
  padding-bottom: 80px;
}

.margin-right {
  margin-right: 150px;
}

button {
  color:white;
  padding: 10px 20px 10px 20px;
  border-radius: 100px;
  border: 2px solid white;
  background:#192D52;
  font-size: 1.1rem;
  cursor: pointer;
}

.white-background * button {
  color:#192D52;
  background-color:white;
  padding: 10px 20px 10px 20px;
  border-radius: 100px;
  border: 2px solid #192D52;
  font-size:1em;
  font-size: 1.1rem;
  cursor: pointer;
}

.header-margin {
  margin-bottom: 40px;
}
.small-header-margin {
  margin-bottom: 20px;
}

.first-section {
  height: auto;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.fa-envelope,
.fa-instagram,
.fa-tiktok{
  background-color: #fff;
  color: #192D52;
  border: 2px solid #192D52;
  padding: 15px;
  border-radius: 100%;
  font-size: 1.5rem;
  cursor:pointer;
}

.fa-envelope:hover,
.fa-instagram:hover,
.fa-tiktok:hover{
  background-color: #192D52;
  color: white;
}

.profile-img {
  width: 150px;
}
.profile {
  width: 150px;
  flex: 1;
  gap: 10px;
}

.profile-container {
  overflow-x: scroll;
  display:flex;
  flex-wrap: nowrap;
  gap: 20px;
}

.profile p {
  font-size: 1em;
}

.profile h6 {
  font-size: 1.3em;
}

.profile-container::-webkit-scrollbar {
  height: 6px;
}

.profile-container::-webkit-scrollbar-thumb {
  background-color: #192d5280;
}

.profile-container::-webkit-scrollbar-track {
  background-color: #192d5238;
}

.hundredheight {
  min-height: calc(100vh - 290px);
}


@media (max-width: 750px) {
  .circle1 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }

  .circle2 {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
  }

  .circle3 {
    grid-row: 5 / span 1;
    grid-column: 1 / span 1;
  }

  .line1 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;    
  }

  .line2 {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;    
  }

  .line3 {
    grid-row: 6 / span 1;
    grid-column: 1 / span 1;    
    opacity: 0;
  }

  .text1 {
    grid-row: 1 / span 1;
    grid-column: 2 / span 2;
    opacity: 0;
    transform:translatex(400px);
    animation: fadeIn linear forwards;
    animation-timeline: view();
    animation-range: 50px 40vh;
  }
  .text2 {
    grid-row: 3 / span 1;
    grid-column: 2 / span 2;
    opacity: 0;
    transform:translatex(400px);
    animation: fadeIn linear forwards;
    animation-timeline: view();
    animation-range: 50px 250px;
    text-align: left;
  }
  .text3 {
    grid-row: 5 / span 1;
    grid-column: 2 / span 2;
    opacity: 0;
    transform:translatex(400px);
    animation: fadeIn linear forwards;
    animation-timeline: view();
    animation-range: 50px 40vh;
  } 

  .line4 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    opacity: 0; 
  }

  .animated-logo {
    grid-column: 1/1;
    grid-row: 2/2;
  }

  .animated-logo-text {
    grid-column: 1/1;
    grid-row: 2/3;
    justify-self: center; 
    width: 410px;
  }

  @keyframes moveRightSmall {
    to {
      transform:translatex(250px);
      opacity: 1;
    }
  }
  
  @keyframes moveLeft {
    to {
      transform:translatex(-200px);
    }
  }

  .sliders {
    grid-column: 1 / span 3;
    }

  .container{
    width:100%;
  }

  .container1{
    width:100%;
  }

  .slider-text {
    display: grid;
    grid-column: 1 / span 3;
    grid-row: 2/2;
  }

}



@media (max-width: 580px){
  .animated-logo-text {
    grid-column: 1/span 3;
    grid-row: 2/2;
    justify-self: center; 
    width: 410px;
    text-align: center;
  }

  

  .move-right {
    opacity: 0;
    transform:translateY(-20px);
    animation: fadeIn linear forwards;
    animation-timeline: view();
    animation-range: 50px 150px;
  }

  .move-left {
    animation: none;
  }

  .animated-logo{
    animation: none;
    opacity: 0;
  }

  @keyframes moveRightSmall {
    to {
      transform:translatex(0);
      opacity: 1;
    }
  }

  @keyframes moveLeft {
    to {
      transform:translatex(-350px);
    }
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.5rem;
  }
}

@media (max-width:950px){
  .animated-logo-text {
    width: 350px;
  }

  .move-right{
    animation: moveRightSmall linear forwards;
    animation-timeline: view();
    animation-range: 350px 500px;
    opacity: 0;
    z-index: -1;
  }
}